<app-header></app-header>

<div class="container">

    <router-outlet></router-outlet>

    <form>
        <div class="formulario__grupo col-md-12">
            <label class="form-label mt-5">File (.txt)</label>
            <input id="imagenFile" (change)="selectFile($event)"
                onChange="document.getElementById().src = window.URL.createObjectURL(this.files[0])" type="file"
                title="TXT" class="form-control mt-2 w-50" name="image" accept="file/.txt">
        </div>
        <br />
        <div class="col-md-6">
            <button type="button" (click)="upload()" class="btn btn-success">Upload</button>
        </div>
        <br>
    </form>
    <table datatable [dtOptions]="dtOptions" class="table table-striped text-center">
        <thead class="text-light" style="background-color: #3da1ee;">
            <tr>
                <th>Número</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let book of bookList | async">
                <td>{{ book.id }}</td>
                <td>{{ book.name}}</td>
                <td>{{ book.description }}</td>
                <td>
                    <button class="btn-secondary btn"><i class="fas fa-book" style="color:white"></i></button>
                </td>
            </tr>
        </tbody>
    </table>


</div>

<app-footer></app-footer>